## Schools 1

In [1]:
import pandas as pd

In [2]:
schools1 = pd.read_csv(r"C:\Users\amytu\OneDrive\Documents\Capstone\Drilled Down\16_Drilled.csv")
schools1.head()

,School Year,Level,Div Num,Division Name,Sch Num,School Name,Sch Type,Low Grade,High Grade,Subject,Test,2013-14 Pass Rate,2014-15 Pass Rate,2015-16 Pass Rate,2013-14 Adv Pass Rate,2014-15 Adv Pass Rate,2015-16 Adv Pass Rate,Identifier
0,2015-2016,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,Gr 3 English Reading,64.0,66.0,72.0,14.0,19.0,13.0,Accawmacke ElementaryEnglish: ReadingGr 3 Engl...
1,2015-2016,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,Gr 4 English Reading,64.0,80.0,61.0,13.0,21.0,12.0,Accawmacke ElementaryEnglish: ReadingGr 4 Engl...
2,2015-2016,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,Gr 5 English Reading,72.0,72.0,71.0,16.0,10.0,20.0,Accawmacke ElementaryEnglish: ReadingGr 5 Engl...
3,2015-2016,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Writing,Gr 5 Writing,83.0,NaN,NaN,21.0,NaN,NaN,Accawmacke ElementaryEnglish: WritingGr 5 Writing
4,2015-2016,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,History and Social Sciences,Gr 3 History,89.0,NaN,NaN,47.0,NaN,NaN,Accawmacke ElementaryHistory and Social Scienc...

In [3]:
schools1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23766 entries, 0 to 23765
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   School Year            23766 non-null  object
 1   Level                  23766 non-null  object
 2   Div Num                23766 non-null  int64
 3   Division Name          23766 non-null  object
 4   Sch Num                23766 non-null  int64
 5   School Name            23766 non-null  object
 6   Sch Type               23766 non-null  object
 7   Low Grade              23766 non-null  object
 8   High Grade             23766 non-null  int64
 9   Subject                23766 non-null  object
 10  Test                   23766 non-null  object
 11  2013-14 Pass Rate      21550 non-null  float64
 12  2014-15 Pass Rate      17326 non-null  float64
 13  2015-16 Pass Rate      17313 non-null  float64
 14  2013-14 Adv Pass Rate  21550 non-null  float64
 15  2014-15 Adv Pass Rate  17326 non-null  float64
 16  2015-16 Adv Pass Rate  17313 non-null  float64
 17  Identifier             23766 non-null  object
dtypes: float64(6), int64(3), object(9)
memory usage: 3.3+ MB

In [4]:
schools1.rename(columns={'Division Name': 'Div Name','School Name': 'Sch Name', 'Pass Rate 1': '2014', 'Pass Rate 2': '2015', 'Pass Rate 3':'2015'}, inplace=True)
schools1.head()

,School Year,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Low Grade,High Grade,Subject,Test,2013-14 Pass Rate,2014-15 Pass Rate,2015-16 Pass Rate,2013-14 Adv Pass Rate,2014-15 Adv Pass Rate,2015-16 Adv Pass Rate,Identifier
0,2015-2016,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,Gr 3 English Reading,64.0,66.0,72.0,14.0,19.0,13.0,Accawmacke ElementaryEnglish: ReadingGr 3 Engl...
1,2015-2016,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,Gr 4 English Reading,64.0,80.0,61.0,13.0,21.0,12.0,Accawmacke ElementaryEnglish: ReadingGr 4 Engl...
2,2015-2016,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,Gr 5 English Reading,72.0,72.0,71.0,16.0,10.0,20.0,Accawmacke ElementaryEnglish: ReadingGr 5 Engl...
3,2015-2016,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Writing,Gr 5 Writing,83.0,NaN,NaN,21.0,NaN,NaN,Accawmacke ElementaryEnglish: WritingGr 5 Writing
4,2015-2016,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,History and Social Sciences,Gr 3 History,89.0,NaN,NaN,47.0,NaN,NaN,Accawmacke ElementaryHistory and Social Scienc...

In [5]:
schools1_=schools1.drop(['2013-14 Adv Pass Rate', '2014-15 Adv Pass Rate', '2015-16 Adv Pass Rate', 'Low Grade', 'High Grade'], axis=1)

In [6]:
schools1_new = pd.melt(schools1_, id_vars=["Identifier", "School Year", "Level", "Div Num", "Div Name", "Sch Num", "Sch Name", "Sch Type", "Subject", "Test"], 
                  var_name="Date", value_name="Value")
schools1_new.head()

,Identifier,School Year,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Subject,Test,Date,Value
0,Accawmacke ElementaryEnglish: ReadingGr 3 Engl...,2015-2016,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 3 English Reading,2013-14 Pass Rate,64.0
1,Accawmacke ElementaryEnglish: ReadingGr 4 Engl...,2015-2016,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 4 English Reading,2013-14 Pass Rate,64.0
2,Accawmacke ElementaryEnglish: ReadingGr 5 Engl...,2015-2016,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 5 English Reading,2013-14 Pass Rate,72.0
3,Accawmacke ElementaryEnglish: WritingGr 5 Writing,2015-2016,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Writing,Gr 5 Writing,2013-14 Pass Rate,83.0
4,Accawmacke ElementaryHistory and Social Scienc...,2015-2016,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,Gr 3 History,2013-14 Pass Rate,89.0

In [7]:
schools1_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71298 entries, 0 to 71297
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Identifier   71298 non-null  object
 1   School Year  71298 non-null  object
 2   Level        71298 non-null  object
 3   Div Num      71298 non-null  int64
 4   Div Name     71298 non-null  object
 5   Sch Num      71298 non-null  int64
 6   Sch Name     71298 non-null  object
 7   Sch Type     71298 non-null  object
 8   Subject      71298 non-null  object
 9   Test         71298 non-null  object
 10  Date         71298 non-null  object
 11  Value        56189 non-null  float64
dtypes: float64(1), int64(2), object(9)
memory usage: 6.5+ MB

## Schools 2

In [8]:
schools2 = pd.read_csv(r"C:\Users\amytu\OneDrive\Documents\Capstone\Drilled Down\19_Drilled.csv")
schools2.head()

,School Year,LEVEL,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Low Grade,High Grade,Subject,Grade,Test,Test Old,2016-2017 Pass Rate,2017-2018 Pass Rate,2018-2019 Pass Rate,2016-2017 Adv Pass Rate,2017-2018 Adv Pass Rate,2018-2019 Adv Pass Rate,Identifier
0,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,Gr 3,Gr 3 English Reading,English Reading,70.0,71.0,57.0,17.0,12.0,12.0,Accawmacke ElementaryEnglish: ReadingGr 3 Engl...
1,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,Gr 4,Gr 4 English Reading,English Reading,73.0,64.0,74.0,10.0,14.0,10.0,Accawmacke ElementaryEnglish: ReadingGr 4 Engl...
2,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,Gr 5,Gr 5 English Reading,English Reading,67.0,65.0,60.0,15.0,13.0,15.0,Accawmacke ElementaryEnglish: ReadingGr 5 Engl...
3,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,History and Social Sciences,Gr 5,Gr 5 History,History,NaN,NaN,NaN,NaN,NaN,NaN,Accawmacke ElementaryHistory and Social Scienc...
4,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,History and Social Sciences,Content Specific,Content Specific VA Studies,VA Studies,85.0,83.0,84.0,29.0,28.0,31.0,Accawmacke ElementaryHistory and Social Scienc...

In [9]:
schools2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19221 entries, 0 to 19220
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   School Year              19221 non-null  object
 1   LEVEL                    19221 non-null  object
 2   Div Num                  19221 non-null  int64
 3   Div Name                 19221 non-null  object
 4   Sch Num                  19221 non-null  int64
 5   Sch Name                 19221 non-null  object
 6   Sch Type                 19221 non-null  object
 7   Low Grade                19221 non-null  object
 8   High Grade               19221 non-null  int64
 9   Subject                  19221 non-null  object
 10  Grade                    19221 non-null  object
 11  Test                     19221 non-null  object
 12  Test Old                 19221 non-null  object
 13  2016-2017 Pass Rate      17308 non-null  float64
 14  2017-2018 Pass Rate      17327 non-null  float64
 15  2018-2019 Pass Rate      17232 non-null  float64
 16  2016-2017 Adv Pass Rate  17308 non-null  float64
 17  2017-2018 Adv Pass Rate  17327 non-null  float64
 18  2018-2019 Adv Pass Rate  17232 non-null  float64
 19  Identifier               19221 non-null  object
dtypes: float64(6), int64(3), object(11)
memory usage: 2.9+ MB

In [10]:
schools2_=schools2.drop(['2016-2017 Adv Pass Rate', '2017-2018 Adv Pass Rate', '2018-2019 Adv Pass Rate', 'Low Grade', 'High Grade', 'Test Old', 'Grade'], axis=1)

In [11]:
schools2_.rename(columns={'LEVEL':'Level','2016-2017 Pass Rate': '2017', '2017-2018 Pass Rate': '2018', '2018-2019 Pass Rate':'2019'}, inplace=True)
schools2_.head()

,School Year,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Subject,Test,2017,2018,2019,Identifier
0,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 3 English Reading,70.0,71.0,57.0,Accawmacke ElementaryEnglish: ReadingGr 3 Engl...
1,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 4 English Reading,73.0,64.0,74.0,Accawmacke ElementaryEnglish: ReadingGr 4 Engl...
2,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 5 English Reading,67.0,65.0,60.0,Accawmacke ElementaryEnglish: ReadingGr 5 Engl...
3,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,Gr 5 History,NaN,NaN,NaN,Accawmacke ElementaryHistory and Social Scienc...
4,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,Content Specific VA Studies,85.0,83.0,84.0,Accawmacke ElementaryHistory and Social Scienc...

In [12]:
schools2_new = pd.melt(schools2_, id_vars=["Identifier", "School Year", "Level", "Div Num", "Div Name", "Sch Num", "Sch Name", "Sch Type", "Subject", "Test"], 
                  var_name="Date", value_name="Value")
schools2_new.head()

,Identifier,School Year,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Subject,Test,Date,Value
0,Accawmacke ElementaryEnglish: ReadingGr 3 Engl...,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 3 English Reading,2017,70.0
1,Accawmacke ElementaryEnglish: ReadingGr 4 Engl...,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 4 English Reading,2017,73.0
2,Accawmacke ElementaryEnglish: ReadingGr 5 Engl...,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 5 English Reading,2017,67.0
3,Accawmacke ElementaryHistory and Social Scienc...,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,Gr 5 History,2017,NaN
4,Accawmacke ElementaryHistory and Social Scienc...,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,Content Specific VA Studies,2017,85.0

In [13]:
schools2_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57663 entries, 0 to 57662
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Identifier   57663 non-null  object
 1   School Year  57663 non-null  object
 2   Level        57663 non-null  object
 3   Div Num      57663 non-null  int64
 4   Div Name     57663 non-null  object
 5   Sch Num      57663 non-null  int64
 6   Sch Name     57663 non-null  object
 7   Sch Type     57663 non-null  object
 8   Subject      57663 non-null  object
 9   Test         57663 non-null  object
 10  Date         57663 non-null  object
 11  Value        51867 non-null  float64
dtypes: float64(1), int64(2), object(9)
memory usage: 5.3+ MB

## Schools 3

In [14]:
schools3 = pd.read_csv(r"C:\Users\amytu\OneDrive\Documents\Capstone\Drilled Down\22_Drilled(1).csv")
schools3.head()

,School Year,LEVEL,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Low Grade,High Grade,Subject,Test,2019-2020 Pass Rate,2020-2021 Pass Rate,2021-2022 Pass Rate,2019-2020 Adv Pass Rate,2020-2021 Adv Pass Rate,2021-2022 Adv Pass Rate,SubjectStand,Identifier
0,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,Gr 3 English Reading,NaN,50.0,67.0,NaN,3.0,7.0,English: Reading,Accawmacke ElementaryEnglish: ReadingGr 3 Engl...
1,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,Gr 4 English Reading,NaN,56.0,67.0,NaN,6.0,11.0,English: Reading,Accawmacke ElementaryEnglish: ReadingGr 4 Engl...
2,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,Gr 5 English Reading,NaN,45.0,68.0,NaN,7.0,7.0,English: Reading,Accawmacke ElementaryEnglish: ReadingGr 5 Engl...
3,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,History and Social Sciences,Gr 5 History,NaN,NaN,NaN,NaN,NaN,NaN,History and Social Sciences,Accawmacke ElementaryHistory and Social Scienc...
4,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,History and Social Sciences,Content Specific VA Studies,NaN,NaN,72.0,NaN,NaN,21.0,History and Social Sciences,Accawmacke ElementaryHistory and Social Scienc...

In [15]:
schools3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26213 entries, 0 to 26212
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   School Year              26213 non-null  object
 1   LEVEL                    26213 non-null  object
 2   Div Num                  26213 non-null  int64
 3   Div Name                 26213 non-null  object
 4   Sch Num                  26213 non-null  int64
 5   Sch Name                 26213 non-null  object
 6   Sch Type                 26213 non-null  object
 7   Low Grade                26213 non-null  object
 8   High Grade               26213 non-null  int64
 9   Subject                  26213 non-null  object
 10  Test                     26213 non-null  object
 11  2019-2020 Pass Rate      0 non-null      float64
 12  2020-2021 Pass Rate      19346 non-null  float64
 13  2021-2022 Pass Rate      16629 non-null  float64
 14  2019-2020 Adv Pass Rate  0 non-null      float64
 15  2020-2021 Adv Pass Rate  19346 non-null  float64
 16  2021-2022 Adv Pass Rate  16629 non-null  float64
 17  SubjectStand             26213 non-null  object
 18  Identifier               26213 non-null  object
dtypes: float64(6), int64(3), object(10)
memory usage: 3.8+ MB

In [16]:
schools3_=schools3.drop(['2019-2020 Adv Pass Rate', '2020-2021 Adv Pass Rate', '2021-2022 Adv Pass Rate', 'Low Grade', 'High Grade', 'SubjectStand'], axis=1)

In [17]:
schools3_.rename(columns={'LEVEL':'Level','2019-2020 Pass Rate': '2020', '2020-2021 Pass Rate': '2021', '2021-2022 Pass Rate':'2022'}, inplace=True)
schools3_.head()

,School Year,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Subject,Test,2020,2021,2022,Identifier
0,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 3 English Reading,NaN,50.0,67.0,Accawmacke ElementaryEnglish: ReadingGr 3 Engl...
1,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 4 English Reading,NaN,56.0,67.0,Accawmacke ElementaryEnglish: ReadingGr 4 Engl...
2,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 5 English Reading,NaN,45.0,68.0,Accawmacke ElementaryEnglish: ReadingGr 5 Engl...
3,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,Gr 5 History,NaN,NaN,NaN,Accawmacke ElementaryHistory and Social Scienc...
4,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,Content Specific VA Studies,NaN,NaN,72.0,Accawmacke ElementaryHistory and Social Scienc...

In [18]:
schools3_new = pd.melt(schools3_, id_vars=["Identifier", "School Year", "Level", "Div Num", "Div Name", "Sch Num", "Sch Name", "Sch Type", "Subject", "Test"], 
                  var_name="Date", value_name="Value")
schools3_new.head()

,Identifier,School Year,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Subject,Test,Date,Value
0,Accawmacke ElementaryEnglish: ReadingGr 3 Engl...,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 3 English Reading,2020,NaN
1,Accawmacke ElementaryEnglish: ReadingGr 4 Engl...,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 4 English Reading,2020,NaN
2,Accawmacke ElementaryEnglish: ReadingGr 5 Engl...,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 5 English Reading,2020,NaN
3,Accawmacke ElementaryHistory and Social Scienc...,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,Gr 5 History,2020,NaN
4,Accawmacke ElementaryHistory and Social Scienc...,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,Content Specific VA Studies,2020,NaN

In [19]:
schools3_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78639 entries, 0 to 78638
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Identifier   78639 non-null  object
 1   School Year  78639 non-null  object
 2   Level        78639 non-null  object
 3   Div Num      78639 non-null  int64
 4   Div Name     78639 non-null  object
 5   Sch Num      78639 non-null  int64
 6   Sch Name     78639 non-null  object
 7   Sch Type     78639 non-null  object
 8   Subject      78639 non-null  object
 9   Test         78639 non-null  object
 10  Date         78639 non-null  object
 11  Value        35975 non-null  float64
dtypes: float64(1), int64(2), object(9)
memory usage: 7.2+ MB

In [20]:
schools = pd.concat([schools1_new, schools2_new, schools3_new]).reset_index()
schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207600 entries, 0 to 207599
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   index        207600 non-null  int64
 1   Identifier   207600 non-null  object
 2   School Year  207600 non-null  object
 3   Level        207600 non-null  object
 4   Div Num      207600 non-null  int64
 5   Div Name     207600 non-null  object
 6   Sch Num      207600 non-null  int64
 7   Sch Name     207600 non-null  object
 8   Sch Type     207600 non-null  object
 9   Subject      207600 non-null  object
 10  Test         207600 non-null  object
 11  Date         207600 non-null  object
 12  Value        144031 non-null  float64
dtypes: float64(1), int64(3), object(9)
memory usage: 20.6+ MB

In [21]:
schools.duplicated().sum()

0

In [22]:
schools.to_csv(r"C:\Users\amytu\OneDrive\Documents\Capstone\Drilled Down\School_Data.csv")

## Subgroups 1

In [23]:
subgroups1 = pd.read_csv(r"C:\Users\amytu\OneDrive\Documents\Capstone\Subgroups\16_Subgroup.csv")
subgroups1.head()

,Level,Div Num,Div Name,Sch Num,School Name,School Type,Low Grade,High Grade,Subject,Subgroup,2013-2014 Pass Rate,2014-2015 Pass Rate,2015-2016 Pass Rate,Null,Nothin,Nada,Identifier
0,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,All Students,67.0,72.0,67.0,Accawmacke ElementaryEnglish: ReadingAll Students,AccawmackeElementaryEnglish:ReadingAllStudents,AccawmackeElementaryEnglishReadingAllStudents,Accawmacke ElementaryEnglish: ReadingAll Students
1,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Writing,All Students,83.0,NaN,NaN,Accawmacke ElementaryEnglish: WritingAll Students,AccawmackeElementaryEnglish:WritingAllStudents,AccawmackeElementaryEnglishWritingAllStudents,Accawmacke ElementaryEnglish: WritingAll Students
2,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,History and Social Sciences,All Students,89.0,98.0,87.0,Accawmacke ElementaryHistory and Social Scienc...,AccawmackeElementaryHistoryandSocialSciencesAl...,AccawmackeElementaryHistoryandSocialSciencesAl...,Accawmacke ElementaryHistory and Social Scienc...
3,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,Mathematics,All Students,74.0,78.0,78.0,Accawmacke ElementaryMathematicsAll Students,AccawmackeElementaryMathematicsAllStudents,AccawmackeElementaryMathematicsAllStudents,Accawmacke ElementaryMathematicsAll Students
4,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,Science,All Students,82.0,86.0,74.0,Accawmacke ElementaryScienceAll Students,AccawmackeElementaryScienceAllStudents,AccawmackeElementaryScienceAllStudents,Accawmacke ElementaryScienceAll Students

In [24]:
subgroups1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86743 entries, 0 to 86742
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Level                86743 non-null  object
 1   Div Num              86743 non-null  int64
 2   Div Name             86743 non-null  object
 3   Sch Num              86743 non-null  int64
 4   School Name          86743 non-null  object
 5   School Type          86743 non-null  object
 6   Low Grade            86743 non-null  object
 7   High Grade           86743 non-null  int64
 8   Subject              86743 non-null  object
 9   Subgroup             86743 non-null  object
 10  2013-2014 Pass Rate  76414 non-null  float64
 11  2014-2015 Pass Rate  65888 non-null  float64
 12  2015-2016 Pass Rate  66076 non-null  float64
 13  Null                 86743 non-null  object
 14  Nothin               86743 non-null  object
 15  Nada                 86743 non-null  object
 16  Identifier           86743 non-null  object
dtypes: float64(3), int64(3), object(11)
memory usage: 11.3+ MB

In [25]:
subgroups1_=subgroups1.drop(['Low Grade', 'High Grade', 'Null', 'Nothin', 'Nada'], axis=1)

In [26]:
subgroups1_.rename(columns={'School Type':'Sch Type','School Name':'Sch Name','2013-2014 Pass Rate': '2014', '2014-2015 Pass Rate': '2015', '2015-2016 Pass Rate':'2016'}, inplace=True)
subgroups1_.head()

,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Subject,Subgroup,2014,2015,2016,Identifier
0,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,All Students,67.0,72.0,67.0,Accawmacke ElementaryEnglish: ReadingAll Students
1,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,English: Writing,All Students,83.0,NaN,NaN,Accawmacke ElementaryEnglish: WritingAll Students
2,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,All Students,89.0,98.0,87.0,Accawmacke ElementaryHistory and Social Scienc...
3,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,Mathematics,All Students,74.0,78.0,78.0,Accawmacke ElementaryMathematicsAll Students
4,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,Science,All Students,82.0,86.0,74.0,Accawmacke ElementaryScienceAll Students

In [27]:
subgroups1_new = pd.melt(subgroups1_, id_vars=["Identifier", "Level", "Div Num", "Div Name", "Sch Num", "Sch Name", "Sch Type", "Subject", "Subgroup"], 
                  var_name="Date", value_name="Value")
schools3_new.head()

,Identifier,School Year,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Subject,Test,Date,Value
0,Accawmacke ElementaryEnglish: ReadingGr 3 Engl...,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 3 English Reading,2020,NaN
1,Accawmacke ElementaryEnglish: ReadingGr 4 Engl...,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 4 English Reading,2020,NaN
2,Accawmacke ElementaryEnglish: ReadingGr 5 Engl...,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 5 English Reading,2020,NaN
3,Accawmacke ElementaryHistory and Social Scienc...,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,Gr 5 History,2020,NaN
4,Accawmacke ElementaryHistory and Social Scienc...,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,Content Specific VA Studies,2020,NaN

In [28]:
subgroups1_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260229 entries, 0 to 260228
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Identifier  260229 non-null  object
 1   Level       260229 non-null  object
 2   Div Num     260229 non-null  int64
 3   Div Name    260229 non-null  object
 4   Sch Num     260229 non-null  int64
 5   Sch Name    260229 non-null  object
 6   Sch Type    260229 non-null  object
 7   Subject     260229 non-null  object
 8   Subgroup    260229 non-null  object
 9   Date        260229 non-null  object
 10  Value       208378 non-null  float64
dtypes: float64(1), int64(2), object(8)
memory usage: 21.8+ MB

## Subgroup 2

In [29]:
subgroups2 = pd.read_csv(r"C:\Users\amytu\OneDrive\Documents\Capstone\Subgroups\19_Subgroup.csv")
subgroups2.head()

,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Low Grade,High Grade,Subject,Subgroup,2016-2017 Pass Rate,2017-2018 Pass Rate,2018-2019 Pass Rate,Null,Nothin,Nada,Identifier
0,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,All Students,70.0,66.0,64.0,Accawmacke ElementaryEnglish: ReadingAll Students,AccawmackeElementaryEnglish:ReadingAllStudents,AccawmackeElementaryEnglishReadingAllStudents,Accawmacke ElementaryEnglish: ReadingAll Students
1,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,History and Social Sciences,All Students,85.0,83.0,84.0,Accawmacke ElementaryHistory and Social Scienc...,AccawmackeElementaryHistoryandSocialSciencesAl...,AccawmackeElementaryHistoryandSocialSciencesAl...,Accawmacke ElementaryHistory and Social Scienc...
2,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,Mathematics,All Students,76.0,61.0,79.0,Accawmacke ElementaryMathematicsAll Students,AccawmackeElementaryMathematicsAllStudents,AccawmackeElementaryMathematicsAllStudents,Accawmacke ElementaryMathematicsAll Students
3,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,Science,All Students,72.0,60.0,79.0,Accawmacke ElementaryScienceAll Students,AccawmackeElementaryScienceAllStudents,AccawmackeElementaryScienceAllStudents,Accawmacke ElementaryScienceAll Students
4,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,Asian,100.0,100.0,100.0,Accawmacke ElementaryEnglish: ReadingAsian,AccawmackeElementaryEnglish:ReadingAsian,AccawmackeElementaryEnglishReadingAsian,Accawmacke ElementaryEnglish: ReadingAsian

In [30]:
subgroups2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76117 entries, 0 to 76116
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Level                76117 non-null  object
 1   Div Num              76117 non-null  int64
 2   Div Name             76117 non-null  object
 3   Sch Num              76117 non-null  int64
 4   Sch Name             76117 non-null  object
 5   Sch Type             76117 non-null  object
 6   Low Grade            76117 non-null  object
 7   High Grade           76117 non-null  int64
 8   Subject              76117 non-null  object
 9   Subgroup             76117 non-null  object
 10  2016-2017 Pass Rate  66665 non-null  float64
 11  2017-2018 Pass Rate  66105 non-null  float64
 12  2018-2019 Pass Rate  66031 non-null  float64
 13  Null                 76117 non-null  object
 14  Nothin               76117 non-null  object
 15  Nada                 76117 non-null  object
 16  Identifier           76117 non-null  object
dtypes: float64(3), int64(3), object(11)
memory usage: 9.9+ MB

In [31]:
subgroups2_=subgroups2.drop(['Low Grade', 'High Grade', 'Null', 'Nothin', 'Nada'], axis=1)

In [32]:
subgroups2_.rename(columns={'2016-2017 Pass Rate': '2017', '2017-2018 Pass Rate': '2018', '2018-2019 Pass Rate':'2019'}, inplace=True)
subgroups2_.head()

,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Subject,Subgroup,2017,2018,2019,Identifier
0,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,All Students,70.0,66.0,64.0,Accawmacke ElementaryEnglish: ReadingAll Students
1,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,All Students,85.0,83.0,84.0,Accawmacke ElementaryHistory and Social Scienc...
2,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,Mathematics,All Students,76.0,61.0,79.0,Accawmacke ElementaryMathematicsAll Students
3,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,Science,All Students,72.0,60.0,79.0,Accawmacke ElementaryScienceAll Students
4,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Asian,100.0,100.0,100.0,Accawmacke ElementaryEnglish: ReadingAsian

In [33]:
subgroups2_new = pd.melt(subgroups2_, id_vars=["Identifier", "Level", "Div Num", "Div Name", "Sch Num", "Sch Name", "Sch Type", "Subject", "Subgroup"], 
                  var_name="Date", value_name="Value")
schools2_new.head()

,Identifier,School Year,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Subject,Test,Date,Value
0,Accawmacke ElementaryEnglish: ReadingGr 3 Engl...,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 3 English Reading,2017,70.0
1,Accawmacke ElementaryEnglish: ReadingGr 4 Engl...,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 4 English Reading,2017,73.0
2,Accawmacke ElementaryEnglish: ReadingGr 5 Engl...,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 5 English Reading,2017,67.0
3,Accawmacke ElementaryHistory and Social Scienc...,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,Gr 5 History,2017,NaN
4,Accawmacke ElementaryHistory and Social Scienc...,2018-2019,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,Content Specific VA Studies,2017,85.0

In [34]:
subgroups2_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228351 entries, 0 to 228350
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Identifier  228351 non-null  object
 1   Level       228351 non-null  object
 2   Div Num     228351 non-null  int64
 3   Div Name    228351 non-null  object
 4   Sch Num     228351 non-null  int64
 5   Sch Name    228351 non-null  object
 6   Sch Type    228351 non-null  object
 7   Subject     228351 non-null  object
 8   Subgroup    228351 non-null  object
 9   Date        228351 non-null  object
 10  Value       198801 non-null  float64
dtypes: float64(1), int64(2), object(8)
memory usage: 19.2+ MB

## Subgroup 3

In [35]:
subgroups3 = pd.read_csv(r"C:\Users\amytu\OneDrive\Documents\Capstone\Subgroups\22_Subgroup(1).csv")
subgroups3.head()

,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Low Grade,High Grade,Subject,Subgroup,2019-2020 Pass Rate,2020-2021 Pass Rate,2021-2022 Pass Rate,Identifier,SubjectStand
0,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,All Students,NaN,51.0,67.0,Accawmacke ElementaryEnglish: ReadingAll Students,English: Reading
1,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,History and Social Sciences,All Students,NaN,NaN,72.0,Accawmacke ElementaryHistory and Social Scienc...,History and Social Sciences
2,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,Mathematics,All Students,NaN,33.0,66.0,Accawmacke ElementaryMathematicsAll Students,Mathematics
3,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,Science,All Students,NaN,34.0,72.0,Accawmacke ElementaryScienceAll Students,Science
4,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,PK,5,English: Reading,Asian,NaN,100.0,NaN,Accawmacke ElementaryEnglish: ReadingAsian,English: Reading

In [36]:
subgroups3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96969 entries, 0 to 96968
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Level                96969 non-null  object
 1   Div Num              96969 non-null  int64
 2   Div Name             96969 non-null  object
 3   Sch Num              96969 non-null  int64
 4   Sch Name             96969 non-null  object
 5   Sch Type             96969 non-null  object
 6   Low Grade            96969 non-null  object
 7   High Grade           96969 non-null  int64
 8   Subject              96969 non-null  object
 9   Subgroup             96969 non-null  object
 10  2019-2020 Pass Rate  0 non-null      float64
 11  2020-2021 Pass Rate  67024 non-null  float64
 12  2021-2022 Pass Rate  64193 non-null  float64
 13  Identifier           96969 non-null  object
 14  SubjectStand         96969 non-null  object
dtypes: float64(3), int64(3), object(9)
memory usage: 11.1+ MB

In [37]:
subgroups3_=subgroups3.drop(['Low Grade', 'High Grade', 'SubjectStand'], axis=1)

In [38]:
subgroups3_.rename(columns={'2019-2020 Pass Rate': '2020', '2020-2021 Pass Rate': '2021', '2021-2022 Pass Rate':'2022'}, inplace=True)
subgroups3_.head()

,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Subject,Subgroup,2020,2021,2022,Identifier
0,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,All Students,NaN,51.0,67.0,Accawmacke ElementaryEnglish: ReadingAll Students
1,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,All Students,NaN,NaN,72.0,Accawmacke ElementaryHistory and Social Scienc...
2,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,Mathematics,All Students,NaN,33.0,66.0,Accawmacke ElementaryMathematicsAll Students
3,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,Science,All Students,NaN,34.0,72.0,Accawmacke ElementaryScienceAll Students
4,Sch,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Asian,NaN,100.0,NaN,Accawmacke ElementaryEnglish: ReadingAsian

In [39]:
subgroups3_new = pd.melt(subgroups3_, id_vars=["Identifier", "Level", "Div Num", "Div Name", "Sch Num", "Sch Name", "Sch Type", "Subject", "Subgroup"], 
                  var_name="Date", value_name="Value")
schools3_new.head()

,Identifier,School Year,Level,Div Num,Div Name,Sch Num,Sch Name,Sch Type,Subject,Test,Date,Value
0,Accawmacke ElementaryEnglish: ReadingGr 3 Engl...,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 3 English Reading,2020,NaN
1,Accawmacke ElementaryEnglish: ReadingGr 4 Engl...,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 4 English Reading,2020,NaN
2,Accawmacke ElementaryEnglish: ReadingGr 5 Engl...,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,English: Reading,Gr 5 English Reading,2020,NaN
3,Accawmacke ElementaryHistory and Social Scienc...,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,Gr 5 History,2020,NaN
4,Accawmacke ElementaryHistory and Social Scienc...,2021-2022,SCH,1,Accomack County,701,Accawmacke Elementary,Elem,History and Social Sciences,Content Specific VA Studies,2020,NaN

In [40]:
subgroups3_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290907 entries, 0 to 290906
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Identifier  290907 non-null  object
 1   Level       290907 non-null  object
 2   Div Num     290907 non-null  int64
 3   Div Name    290907 non-null  object
 4   Sch Num     290907 non-null  int64
 5   Sch Name    290907 non-null  object
 6   Sch Type    290907 non-null  object
 7   Subject     290907 non-null  object
 8   Subgroup    290907 non-null  object
 9   Date        290907 non-null  object
 10  Value       131217 non-null  float64
dtypes: float64(1), int64(2), object(8)
memory usage: 24.4+ MB

In [41]:
subgroups = pd.concat([subgroups1_new, subgroups2_new, subgroups3_new]).reset_index()
subgroups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779487 entries, 0 to 779486
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   index       779487 non-null  int64
 1   Identifier  779487 non-null  object
 2   Level       779487 non-null  object
 3   Div Num     779487 non-null  int64
 4   Div Name    779487 non-null  object
 5   Sch Num     779487 non-null  int64
 6   Sch Name    779487 non-null  object
 7   Sch Type    779487 non-null  object
 8   Subject     779487 non-null  object
 9   Subgroup    779487 non-null  object
 10  Date        779487 non-null  object
 11  Value       538396 non-null  float64
dtypes: float64(1), int64(3), object(8)
memory usage: 71.4+ MB

In [42]:
subgroups.duplicated().sum()

0

In [45]:
subgroups.to_csv(r"C:\Users\amytu\OneDrive\Documents\Capstone\Subgroups\Subgroup_Data.csv")